#root {
	background-color: #bfe6e7;
	min-height: -webkit-fill-available;
}

.comments-app-header {
    height: 60px;
    background-color: #415285;
    flex: 1;
    flex-direction: row;
    text-align: right;
    padding: 0 10px;
}

.comments-app-container {
	max-width: 800px;
	margin: auto;
	padding: 14px 10px;

	h2, h4 {
		color: #415285;
	}

	.new-comment-form {
		padding: 12px 0 24px 0;

		&-textarea {
			width: calc(100% - 63px);
			height: 55px;
			textarea {
				border-radius: 8px 0 0 8px !important;
			}
		}

		&-btn {
			height: 55px;
			background-color: #a265b2 !important;
			border-color: #a265b2;
			border-radius: 0 8px 8px 0 !important;
		}

	}

	.comments-list {
		background-color: white;
		height: 600px;
		overflow: auto;
		padding: 0 16px;
		border: 1px solid rgba(140, 140, 140, 0.35);
		border-radius: 8px;

		.ant-list-item {
			justify-content: flex-start;
			align-items: flex-start;

			.comment-info {
				max-width: 200px;

				.ant-list-item-meta {

					&-content {
						flex: 1;
						width: 0;
						color: rgba(0, 0, 0, 0.85);
						width: 160px;
					}

					&-description {
						text-overflow: ellipsis;
						overflow: hidden;
					}
					
				}
			}

			.comment-body {
				padding: 0 18px
			}

		}

	}

	.comments-list::-webkit-scrollbar {
		width: 10px;
	}
	.comments-list::-webkit-scrollbar-track {
		background-color: #e4e4e4;
		border-radius: 100px;
	}
	.comments-list::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
		box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	}

	@media only screen and (max-width: 768px) {
		/* For mobile phones: */
		h2, h4 {
			display: none;
		}
	  }

}